:root {
  --accent: rgb(255,168,106);
  --code: rgb(255,188,126);
  --accent-alpha-20: rgba(255, 168, 106, .05);
  --accent-alpha-70: rgba(255, 168, 106, .7);
  --background: #222129;
  --color: whitesmoke;
  --border-color: rgba(255, 255, 255, .1);
}
